{% extends "base.html" %}

{% block title %}
    Tasks
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if not tasks.assignee %}
                <p>You have no tasks</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>Due Date</th>
                            <th>Is Completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for Task in project_detail.tasks.all %}
                            <tr>
                                <td>{{ Task.name }}</td>
                                <td>{{ Task.start_date }}</td>
                                <td>{{ Task.due_date }}</td>
                                <td>{{ Task.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
