{% extends "base.html" %}

{% block title %}
    Tasks
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ project_detail.name }}</h1>
            <p>{{ project_detail.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if not tasks %}
                <p>This project has no tasks</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start Date</th>
                            <th>Due Date</th>
                            <th>Is Completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for Task in project_detail.tasks.all %}
                            <tr>
                                <td>{{ Task.name }}</td>
                                <td>{{ Task.assignee }}</td>
                                <td>{{ Task.start_date }}</td>
                                <td>{{ Task.due_date }}</td>
                                <td>{{ Task.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
